.wpl_switch {
  min-width: 0 !important;
  height: 0 !important;
  width: 0 !important;
  visibility: hidden;
  margin: 0 !important;
  -webkit-appearance: auto !important;
}

.wpl_switch_label {
  content: "Disable";
  cursor: pointer;
  text-indent: -9999px;
  width: 55px;
  height: 25px;
  background: grey;
  display: inline-block;
  border-radius: 100px;
  position: relative;
}

.wpl_switch_label:after {
  content: "Enable";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

.wpl_switch:checked + .wpl_switch_label {
  background: #2271b0;
}

.wpl_switch:checked + .wpl_switch_label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.wpl_switch_label:active:after {
  width: 15px;
}

.wpl_hr_line {
  margin-bottom: 2em;
}

.wpl_log_file_location {
  margin-top: 2em !important;
}

.wpl_field_error {
  color: red;
}

.wpl_debug_status {
  margin-left: 10px;
  font-weight: 600;
}
